
<h2> <%= @first_player %> vs. <%= @second_player %> </h2>
<br>
<%= @first_player %>: 60HP
<%= @second_player %>: 60HP
<br>
<br>
<br>
<form action="/attack">
  <input type='submit' value='Attack player 2'>
</form>
